.key {
    text-align: left;
    font-size: 5rem;
}

html {
    font-size: 3vh;
}

#app {
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

body {
    margin: 0px;
}